# Size of the cluster
$instances = 3

# Base name of the VM
# Example: "kafka-01", "kafka-02", "kafka-${instances}"
$instance_name_prefix="kafka"

# VM
$vm_memory = 1536
$vm_cpus = 1
$vm_cpuexecutioncap = 50

# Port forwarding from guest(s) to host machine
# Format: { 80 => 8080, ... }
#$forwarded_ports = {}
